<div class="full col-sm-6">
      <br>
      <br>
      <br>
      <h1>Tomate</h1>
      <hr>

   <table id="tablaFoodData" class="table table-striped">
      <div>
        <tr class="success"><td colspan="2"><label>INFORMACIÓN PROVENIENTE DEL MINISTERIO DE CENSO</label></td></tr>
        <tr>
          <td><label>Población</label></td>
          <td><input type="text" ng-model="itemProduct.currentPoblation" placeholder="Población actual"></td>
        </tr>

        <tr><td></td><td></td></tr>
        <tr class="success"><td  colspan="2"><label>OFERTA ALIMENTARIA ACTUAL</label></td></tr>
        <tr class="success"><td  colspan="2"><label>INFORMACIÓN PROVENIENTE DEL MINISTERIO DE AGRICULTURA</label></td></tr>
        <tr>
          <td><label>Cosecha en tierra</label></td>
          <td><input type="text" ng-model="itemProduct.cultivates" placeholder="Cosecha"></td>
        </tr>

        <tr><td></td><td></td></tr>
        <tr class="success"><td  colspan="2"><label>INFORMACIÓN PROVENIENTE DE LA AUTORIDAD DE ADUANAS</label></td></tr>
        <tr>
          <td><label>Importaciones</label></td>
          <td><input type="text" ng-model="itemProduct.imports" placeholder="Importaciones"></td>
        </tr>

        <tr><td></td><td></td></tr>
        <tr class="success"><td  colspan="2"><label>OFERTA HIDROPÓNICA NUEVA</label></td></tr>
        <tr>
          <td><label>Cantidad a cultivar</label></td>
          <td><input type="text" ng-model="itemProduct.hydroponicOffer" placeholder="Cultivos"></td>
        </tr>
      </div>
    </table>
</div>
