  <div class="full col-sm-9">
    <br>
    <br>
    <h1>ROBOTICA APP</h1>
    <hr>
    <h5>Equipo: </h5>
    <ul>
      <li>Daniella Castillo</li>
      <li>Lucas Castillo</li>
      <li>Marcos Zambrano</li>
      <li>Daniel Zambrano (Coach)</li>
    </ul>
    <hr>
    <br>
</div>
<div class="full col-sm-12">
    <div class="col-sm-6">
      <img src="https://t2.uc.ltmcdn.com/images/0/6/1/img_48160_apa_296881_600.jpg">
    </div>
    <div class="col-sm-6">
    <h2>Plan de desarrollo agrícola</h2>
    <hr>
    <p ALIGN="justify">
Esta funcionalidad considera la posibilidad de establecer los valores de ciertos parámetros que permiten controlar los distintos ciclos que sobre los cuales se sustenta el plan de desarrollo agrícola nacional.

Entre los principales parámetros están:

La frecuencia en que se requiere obtener los datos relativos a la demanda nutricional y alimentaria.

La frecuencia en que se requiere obtener los datos relativos a la oferta nutricional y alimentaria.

La frecuencia en que se requiere realizar los cálculos y las comparación de la oferta y la demanda nutricional y alimentaria.

La frecuencia en que se requiere generar y enviar la instrucción de producción al sistema robótico.

La frecuencia en que se requiere ejecutar los procedimientos robóticos propios de la instrucción de producción agrícola, tales como sembrar y cosechar. Estas instrucciones activan los sistemas robóticos que realizan la labor agrícola.

La frecuencia del ciclo de vida de la producción agrícola según el tipo de alimento que se está cultivando.

Los esquemas de precio por alimento y cliente que se usan en la gestión del excedente de la producción agrícola.
    </p>
  </div>
</div>
