<div class="full col-sm-9">
  <br>
  <br>
  <h1>Sistema de gestión de demanda alimentaria nacional y sus excedentes</h1>
  <hr>
</div>
  <img src="https://t2.uc.ltmcdn.com/images/0/6/1/img_48160_apa_296881_600.jpg" id="hidroponia">
  <div id="texto">
  <h3>Sobre el proyecto</h3>
  <p id="projectText" ALIGN="justify">
      <strong>Sobre el proyecto</strong><br>Este proyecto propone la implementación de un sistema operativo [Basado en infraestructura física, procesos, gente y tecnologías] que permita establecer objetivos de producción de alimentos [lograr la independencia alimentaria, por ejemplo] y llevar a cabo la gestión, en función de lograr su cumplimiento [tasa de aumento de la producción nacional].
      Nuestra propuesta da respuesta a aspectos tales como la disponibilidad de los alimentos nutritivos, el aumento racionalizado de la producción, el aseguramiento de la sostenibilidad de los sistemas de producción, la subsistencia de la diversidad genética de las semillas, la generación de empleo a lo largo de la cadena de valor, el acercamiento de los centros de producción hacia los centros poblados.<br><br>Para ello nos hemos enfocado en implementar dos procesos esenciales, Planificación de la producción, donde se establecen los criterios de desarrollo, y Operaciones agrícolas, donde ocurren efectivamente el cultivo y la cosecha de los alimentos agrícolas, para el caso que vamos a presentar, aunque pudiera ser extensible hacia los alimentos de origen animal.<br><br>
      El proceso de Planificación de la producción lo hemos desarrollado haciendo uso de un conjunto de tecnologías Web que implementan un conjunto de procedimientos de cálculo que permiten conocer la demanda alimentaria dentro de una comunidad social [país, ciudad, municipio, etc.] y establecer una estrategia de producción que genere una oferta alimentaria en un tiempo determinado, tal que permita cubrirla de manera sostenida.<br><br>Como complemento, el proceso de Operaciones agrícolas lo hemos desarrollado con la visión de que las actividades de cultivo [siembra] y cosecha [recolección] sean realizadas por humanos; y el transporte,  ubicación y cuidado de los cultivos verticales en los edificios agrícolas sean realizados por sistemas robóticos y de Internet de las cosas [construidos con tecnología JavaScript®, LEGO® y Arduino® respectivamente, en el prototipo].
  </p>
  </div>
  <div id="team" class="col-sm-8">
        <p><strong>Sobre el equipo del proyecto</strong></p>
    <ul>
       <li style="font-style: italic;">
           Daniella Castillo
          <p id="info">Hace natación</p>
       </li>
       <li style="font-style: italic;">
           Lucas Castillo
          <p id="info">Aprende alemán</p>
       </li>
        <li style="font-style: italic;">
            Marcos Zambrano Díaz
          <p id="info">Actualmente Marcos estudia el 7mo grado de educación media en el colegio Instituto Cultural Internacional de Panamá [http://www.institutocultural.education/] donde ha conseguido destacarse por el alto rendimiento académico y deportivo alcanzado, además del compañerismo y respeto que lo describen. Tiene tres años como estudiante de la academia Panama STEM Education [https://www.panamastem.com/] donde ha forjado de la mano de sus profesores un nivel de comprensión importante sobre las STEM, y en especial sobre la disciplina de la robótica y el desarrollo de software con tecnología Internet, donde ha enfocado su interés para la realización de proyectos extracurriculares. Marcos obtuvo el primer lugar de categoría Open en el Campeonato Nacional de 2017 y fue representante de la República de Panamá en las XIV Olimpiadas Mundiales de Robótica WRO 2017 [http://www.wro2017.org/] celebrado en Costa Rica, donde se ubicaron entre los primeros 30 lugares.</p>
        </li>
        <li style="font-style: italic;">
            Daniel Zambrano Franco
          <p id="info">Se desempeña como coach del equipo de proyecto, con lo cual está a cargo de procurar facilitar a los integrantes del equipo de ideas, conocimientos y herramientas que puedan serles útiles durante el desarrollo del proyecto, así como de llevar a cabo la gestión del proyecto y realizar las rutinas de aseguramiento de la calidad en los entregables generados. Es graduado de la Universidad Central de Venezuela como Licenciado en Ciencias de la Computación, por más de 25 años ha desarrollado una carrera de estudio en las área de tecnologías de información, I+D y transformación empresarial. Es fundador y CEO de la empresa Pranical Technologies [www.pranical.com], quien funge como patrocinador de este proyecto.</p>
        </li>
    </ul>
  </div>
  <div id="fotos" class="col-sm-4">
      <div id="papitaFoto">
          <img src="../multimedia/dzambra.jpg">
      </div>
  </div>
