<div class="padding">
    <div class="full col-sm-12">
        <h2>
          <br>
          Toneladas de {{ itemProduct.name }}
          <a href="#" class="btn btn-primary btn-xs pull-right" ng-show= "showButton" ng-click="showModal()">
              <i class="glyphicon glyphicon-plus-sign"></i>
                Iniciar procesamiento</a>
        </h2>
        <div class="">
          <p>
            <strong>Páginas: </strong> {{tableParams.page()}}
            <strong> / :</strong> {{tableParams.count()}}
            <button type="button" class="btn btn-info btn-xs" ng-click="findNextIteration()">Registro actual</button>
          </p>
          <table ng-table="tableParams" class="table" show-filter="true" border="2px;">
            <thead>
              <tr>
                <th>Id</th>
                <th>Población</th>
                <th>Demanda actual</th>
                <th>Cultio en tierra</th>
                <th>Importaciones</th>
                <th>Oferta hidropónica</th>
                <th>Exportaciones</th>
                <th>Procesar</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "record in $data" ng-class="{'current': record.current}">
                <td class="classTD">{{record.id}}</td>
                <td class="classTD">{{record.currentPoblation}}</td>
                <td class="classTD">{{record.consume}}</td>
                <td class="classTD">{{record.currentOffer}}</td>
                <td class="classTD">{{record.xImport}}</td>
                <td class="classTD">{{record.xCultivate}}</td>
                <td class="classTD">{{record.step}}</td>
                <td class="classTD">
                    <a href="#" class="btn btn-primary btn-xs" ng-click="processData(this)" ng-show= record.current>
                      <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div col-sm-6 ng-show="showProduct">
          <div class="divCenter col-sm-2">
            <div class="square">
              <a href="#" class="btn btn-primary btn-xs pull-right" ng-show= "showCultivate" ng-click="cultivate()">
                  <i class="glyphicon glyphicon-play"></i>
              </a>
              Almacén de cultivo:<br>{{ xCultivate }} {{ itemProduct.unit.abrev }}</div>
          </div>
          <div class="col-sm-3">
          </div>
          <div class="divCenter col-sm-2">
            <div class="square">
              <a href="#" class="btn btn-primary btn-xs pull-right" ng-show= "showProduce" ng-click="harvest()">
                  <i class="glyphicon glyphicon-play"></i>
              </a>
              Edificio Hidropónico:<br>{{ cultivating }} {{ itemProduct.unit.abrev }}</div>
          </div>
          <div class="col-sm-3">
          </div>
          <div class="divCenter col-sm-2">
            <div class="square">Almacén de cosecha:<br>{{ totalStore }} {{ itemProduct.unit.abrev }}</div>
          </div>
        </div>
        <div class="col-sm-3" id="progress"></div>
    </div>
</div>
