<p class="nav-title"></p>

<div>
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{ active: isSet(1) }">
      <a href ng-click="setTab(1)">Acerca del proyecto</a>
    </li>
    <li ng-show= "showGeneralParametersButton" ng-class="{ active: isSet(2)}">
      <a href ng-click="setTab(2)">Parámetros generales de configuración</a>
    </li>
    <li ng-show= "showFoodDataButton" ng-class="{ active: isSet(3)}">
      <a href ng-click="setTab(3)">Datos maestros de los alimentos</a>
    </li>
    <li ng-show= "showProcessButton" ng-class="{ active: isSet(4)}">
      <a href ng-click="setTab(4)">Iniciar proceso de gestión alimentaria</a>
    </li>
  </ul>
</div>
