<div class="modal fade" id="recordModal" tabindex="1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="false">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header"> <!-- Modal Bootstraptiano-->
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
      <h4 class="modal-title" id="myModalLabel">Datos provenientes de los diferentes ministerios</h4>
    </div>

    <div class="modal-body">
        <form name="roboticaForm" id="FormData">
            <div class="form-group">
                <label for="demanda">Indique la demanda de {{ itemProduct.name }} a ser cubierta (Ton/día)</label><br>
                <p>(Datos provenientes del Ministerio para la Alimentación)</p>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <input ng-model="iteration.demand" required name="demanda" id="demanda"
                    class="form-control" type="text" placeholder="Introduzca la demanda a procesar">
                </div>
            </div>

            <div class="form-group">
                <label for="producir">Indique la producción actual de {{ itemProduct.name }} (Ton/día)</label>
                <p>(Datos provenientes del Ministerio de la Agricultura)</p>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-stats"></i>
                    </div>
                    <input ng-model="iteration.Crop" required name="producir" id="producir"
                    class="form-control" type="text"
                    placeholder="Introduzca la cantidad de cultivos">
                </div>
            </div>

            <div class="form-group">
                <label for="importar">Indique la cantidad de importaciones de {{ itemProduct.name }} (Ton/día)</label>
                <p>(Datos provenientes del Ministerio de Comercio)</p>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-send"></i>
                    </div>
                    <input ng-model="iteration.xImport" required name="importar" id="importar"
                    class="form-control" type="text"
                    placeholder="Introduzca la cantidad de importaciones">
                </div>
            </div>

            <div class="form-group">
                Número de registros:
                <input type="text" ng-model="iteration.registers" placeholder="Catidad de registros">
            </div>

        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
      <button ng-click="process(iteration)" type="button" class="btn btn-success">Procesar</button>
    </div>
  </div>
</div>
</div>
