img {
    border-radius: 30px;
    height: 355px;
    width: 50%;
    margin: 50px 30px 10px 10px;

}

h3 {
    text-align: center;
}

#projectText {
    margin-top: 200px;
    margin-right: 5px;
    font-size: 15px;
}


.nav-title{
  margin-top: 80px;
  text-transform: uppercase;
  font-size: 11px;
}

/* button recolor */
.nav-pills > li.active > a {
  font-size: 12px;
  background-color: #6C6C6C !important;
  Redondear el borde  - selecionar
  border-color: #6C6C6C !important;
  border-radius: 25px;
}

.main {
    font-size: 12px;
    background-color: #ffffff !important;
    color: black;
    height: 1200px;
}


/* Rectangulo ddefine productos a cultivar */
.square {
  height: 60px;
  width: 350px;
  color:black;
  font-size: 14px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.divCenter {
  display: flex;
  justify-content: space-around;
}

.header{
    background-color: #001a33;
    min-height: 50px;
    z-index: 1000;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.header .brand i{
  font-size: 13px;
  color: #2de80f;
}

.header .brand a:hover i {
    color: #f41212;
}

.header .brand .heading-font {
    font-family: monospace;
    color: #2de80f;
    font-size: 16px;
    padding: 0px;
    font-style: italic;
}

.header .brand a:hover span{
    color: #f41212;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1C2833;
    height: 1200px;
}

#sidebar a{
  color: #98a8b9;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-left: 20px;
  padding-left: 0;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
}
#sidebar a:hover,
#sidebar .active a {
  margin-left: 5px;
  background: transparent;
  color: #fff;
}

#team {
    font-size: 15px;
}

#team #info {
    list-style-type: none;
    color: dimgray;
    font-style: normal;
}


#hidroponia {
    float: left
}

#fotos {
    flex-flow: column;
}

#fotos #papitaFoto img{
    margin-top: 420px;
    width: 70%;
    height: 130px;
}

#tablaPopulation {
    font-size: 16px;
    width: 1000px;
    height: 500px;
}

#tablasFoodData {
    margin-right: 20px;
    font-size: 16px;
}

table[id^='tabla'] {
    margin-bottom: 100px;
}

#tablasFoodData thead {
    font-weight: bold;
}

#description {
    font-weight: lighter;
    font-size: 14px;
}

h1 {
    color: #397690;
}

.current {
  background-color: #D5F5E3;
  color: BLACK;
  border-style: double;
  border-color: Blue;
}

.classTD {
  text-align: center;
}

.iteracion {
    margin-top: 50px;
}

.selectedMessage_1{
  background-color: #D5F5E3;
  color: BLACK;
  border-style: double;
  border-color: Blue;
}

.selectedMessage_2{
  background-color: #D5F5E3;
  color: BLACK;
  border-style: double;
  border-color: Blue;
}
